body{
    margin: 0px;
    background-color: #98ADC5;
}

header {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #3D526A;
    color:#CCDAFF;
}
h1 {
    margin: 15px;
    font-family: 'Expletus Sans';
}

.cover_photo {
    height: 200px;
    width: 300px;
    margin: 15px;
}

.portrait_caption {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portrait_caption p {
    font-family: 'PT Sans', sans-serif;
    width: 300px;
    padding: 10px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #CCDAFF;
}

.portrait {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.content_body {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.roles {
    font-family: 'PT Sans', sans-serif;
    max-width: 640px;
    background-color: #CCDAFF;
}

h2 {
    padding-left: 10px;
}

h3 {
    font-style: italic;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }

    .portrait_caption {
        max-width: none;
        align-items: center;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 640px) {
    .portrait_caption {
        flex-direction: column;
    }
}