body{
    margin: 0px;
    background-color: #98ADC5;
}

header {
    width: 100%;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #3D526A;
    color:white;
}

.cover_photo {
    height: 30%;
    width: 30%;
}

.portrait_caption {
    max-width: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portrait_caption p {
    display: flex;
    justify-content: center;
    text-align: left;
    background-color: #8A5E3C;
}

.portrait {
    height: 400px;
    width: 300px;
    border: 1px solid black;
    border-radius: 4px;
}

.wrapper {
    display: flex;
    justify-content: center;
}

.content_body {
    max-width: 960px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.roles {
    min-width: 640px;
    background-color: #8A5E3C;
}

@media screen and (max-width: 1000px) {
    .wrapper {
        display: flex;
        justify-content: center;
    }

    .portrait_caption {
        max-width: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 15px;
    }
}