header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: black;
    color:white;
}

.cover_photo {
    height: 30%;
    width: 30%;
}

.portrait {
    height: 30%;
    width: 30%;
}

.content_body {
    width: 960px;
}